<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	android:versionCode="8" package="at.jclehner.rxdroid" android:installLocation="internalOnly" android:versionName="@string/version">

	<uses-permission android:name="android.permission.VIBRATE" />
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

	<uses-sdk android:minSdkVersion="8" android:targetSdkVersion="15" />
	<uses-configuration android:reqTouchScreen="stylus" />
	<uses-configuration android:reqTouchScreen="finger" />
				
	<application android:icon="@drawable/ic_launcher" 
	    android:label="@string/app_name"
	    android:name=".RxDroid" android:allowBackup="true"
	>
	
		<activity android:name=".SplashScreenActivity"
			android:label="@string/app_name"
			android:configChanges="orientation|screenSize|keyboardHidden"
			android:theme="@style/DefaultTheme.NoAnimation"
			android:launchMode="singleTop"
		>
		
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>			
			
		</activity>
		
		<activity android:name=".DrugSortActivity" />
		<activity android:name=".ui.FragmentTabActivity" />
		<activity android:name=".test.ObjectToPreferenceTestActivity" />
		
				
		<activity android:name=".DrugListActivity"
		    android:exported="false"
		    android:uiOptions="none"
		    android:launchMode="singleTop"
		    android:configChanges="orientation|screenSize|keyboardHidden"
		/>

		<activity android:name=".DrugEditActivity"
		    android:exported="false"
		    android:windowSoftInputMode="adjustResize"		    
			android:launchMode="singleTop"
		    android:configChanges="orientation|screenSize|keyboardHidden"
		>	    
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />

				<action android:name="android.intent.action.EDIT" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>

		<activity android:name=".PreferencesActivity"
		    android:exported="false"
		    android:windowSoftInputMode="adjustPan"
		>
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
			</intent-filter>
		</activity>
		
		<activity android:name=".LockscreenActivity"
			android:exported="false"
		/>
		
		<activity android:name=".HelpActivity"
			android:exported="false"
		/>

		<uses-library android:name="android.test.runner" />

		<service android:name=".NotificationService" 
		    android:exported="false"
		/>
		
		<receiver android:name=".SystemEventReceiver"
			android:exported="false"    
		>
		    
			<intent-filter>
				<action android:name="android.intent.action.BOOT_COMPLETED" />
				<category android:name="android.intent.category.LAUNCHER" />

				<action android:name="android.intent.action.TIME_SET" />
				<category android:name="android.intent.category.PREFERENCE" />

				<action android:name="android.intent.action.TIMEZONE_CHANGED" />
				<category android:name="android.intent.category.PREFERENCE" />
			</intent-filter>
		</receiver>
		
		<receiver android:name=".NotificationReceiver" 
		    android:exported="false" 
		/>

	</application>

	
	<instrumentation android:targetPackage="at.jclehner.rxdroid" android:label="RxDroid Tests" android:name="android.test.InstrumentationTestRunner"/>
	
	  
	</manifest> 
